* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, minmax(200px, 1fr));
    grid-gap: 0.5rem 1rem;
    grid-auto-rows: 80px;
    grid-auto-flow: dense;
}

.grid-container > div {
    background-color: grey;
}

.grid-container > div:nth-child(odd) {
    background-color: yellow;
}

.grid-item-r-2 {
    grid-row: span 2;
}

.grid-item-c-2 {
    grid-column: span 2;
}