* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.7;
    color: grey;
    padding: 30px;
}
/*
to right => left ->  right,
to right bottom => left top -> right bottom
*/
.header {
    height: 95vh; /* 95% of viewport height*/
    background-image: linear-gradient(to right,#a1d45f9c, #28b485), url('./resource/OP.jpg'); /*from left to right gradient color*/
    background-size: cover;/*use to spread image */
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100% );/* we can use px, vh, % for height*/
    position: relative;
}

/* The easier way to center anything using transform, top, left*/
/* when element position is absolute then the parent position is relative */

.logo-box {
    position: absolute;
    left: 40px;
    top: 40px;
}

.logo {
    height: 35px;
}

.heading-primary {
    color: white;
    text-transform: uppercase;
    backface-visibility: hidden;
}

.heading-primary-main {
    display: block;
    font-size: 60px;
    letter-spacing: 35px;
    font-weight: 400;
    animation-name: moveInLeft;
    animation-duration: 1s;
    /*
    animation-timing-function: ease;
    there are many buildin function in mozilla site
    */

    /*
    animation-delay: 3s;
    starts after 3s of page liaded
    */
}

.text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.heading-primary-sub {
    display: block;
    font-weight: 400;
    font-size: 30px;
    letter-spacing: 15px;
    animation: moveInRight;
    animation-duration: 1s;
    margin-bottom: 60px;
}

/*creating animations using @keyframes & animation property*/

@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px)
    }

    80% {
        opacity: 1;
        transform: translateX(100px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(100px)
    }

    80% {
        opacity: 1;
        transform: translateX(-100px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

/*-------------------------------------------------sudo  class for anchor---------------------------------------------------------------*/
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(50px)
    }

    100% {
        opacity: 1;
        transform: translate(0)
    }
}

.btn:link, .btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: relative;
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.199);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.199);
}

.btn::after {
    content: '';
    display: inline-block;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s;
    border-radius: 100px;
}

.btn-white::after {
    background-color: white;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 1s ease-out .75s;
    animation-fill-mode: backwards;
}
